<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cyke</title>
  <link rel="stylesheet" href="/user.css">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class='p-2'>
  
  <nav class='flex gap-6 mb-8'>
    <div class='usr-nav-section flex-grow font-bold text-xl'>
      <span class='logo mr-12'>Cyke <span class='text-sm'>Company</span></span>
      Hello, Recycling company!
    </div>

    <div class='usr-nav-section gap-4 relative'>
      <img src="/images/history.svg" alt="profile" class='h-8'>
      <img src="/images/blankuser.svg" alt="profile" class='h-8' onclick='profileOptions()'>

      <div id='profile-options' class='data-card hidden flex flex-col gap-2 absolute top-[5rem] text-center w-36 right-0'>
        <span class='px-4 pt-2'>Edit Resources</span>
        <a href='/logout' class='py-2 bg-purple-800 text-white px-4 py-2' style='border-radius: 0 0 4px 4px;'>Log Out</a>
      </div>
    </div>
  </nav>

  <center>
    <span class='text-3xl font-bold'>Impact Score</span>
  </center>

  <div class='flex px-8 gap-8 w-full mb-8'>
    <div class='data-card p-4 flex-grow'>
      <span class='block text-2xl text-center font-bold mb-4'>Employees</span>
      <div class='grid grid-cols-2'>
        <ul class='list-disc pl-6 text-xl'>
          <li>Dave Williams</li>
          <li>Peter Parker</li>
          <li>Jimmy Longboat</li>
        </ul>
        <div class='flex flex-col'>
          <span class='text-xl font-bold mb-4'>Add Members</span>
          <input type="text" placeholder='email' class='outline-none'>
        </div>
        
      </div>
      
    </div>
    
    <div class='data-card p-4 flex-grow'>
      <span class='block text-2xl text-center font-bold mb-4'>Statistics</span>
      <center>
        <img src="https://assets-us-01.kc-usercontent.com/cddce937-cf5a-003a-bfad-78b8fc29ea3f/7ce974fb-a35b-473d-a44f-55de4d23ea5b/Line-chart-example.png" alt="" class='w-96'>
      </center>
    </div>

  </div>

  <script>
    function profileOptions(){
      let opts = document.getElementById('profile-options');
      if (opts.classList.contains('hidden')) opts.classList.remove('hidden');
      else opts.classList.add('hidden');
    }
  </script>
  
</body>
</html>